/* src/pages/Page20.css */

.page-20-p20 {
  background: rgba(13, 13, 13, 0.8);
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: column;
}

.frame-38-p20 {
  width: 1280px;
  height: 41.65px;
  padding-top: 16px;
  gap: 8px;
}

.logo-p20 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-65-p20 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 24px;
  width: 1280px;
  height: 550.35px;
  box-sizing: border-box;
}

.frame-30-p20 {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 32px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.1);
  width: 296px;
  height: 502.35px;
  justify-content: center;
  align-items: center;
}

.frame-30-vector-p16 {
  position: absolute;
  pointer-events: none;
  z-index: 0; 
  /* bottom: 0;
  left: 0; */
}

.frame-70-p20 {
  display: flex;
  flex-direction: column;
  width: 223px;
  height: 166px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.frame-60-p20 {
  display: flex;
  flex-direction: column;
  width: 128px;
  height: 126px;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.ellipse2-p20 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.client-name-p20 {
  width: 128px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  white-space: nowrap;
}

.transition-text-p20 {
  width: 223px;
  height: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  white-space: nowrap;
}

.frame-45-p20 {
  display: flex;
  flex-direction: row;
  width: 58px;
  height: 48px;
  gap: 4px;
}

.frame-45-vector-p20 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.text-1a-p20 {
  width: 70px;
  height: 75px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  white-space: nowrap;
}

.frame-1-p20 {
  width: 1280px;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  align-items: center;
}

.frame-29-p20 {
  width: 240px;
  height: 64px;
  border-radius: 24px;
  padding: 24px;
  gap: 8px;
  background: rgba(13, 13, 13, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-transition-p20 {
  width: 115px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.3px;
  color: #FFFFFF;
}

.frame-2-p20 {
  width: 494px;
  height: 64px;
  border-radius: 24px;
  padding: 24px;
  gap: 8px;
  background: rgba(13, 13, 13, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frame-16-p20 {
  width: 446px;
  height: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step-number-p20 {
  width: 55.75px;
  height: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 150%;
  letter-spacing: 0.3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active-p20 {
  color: #31A961;
}

.current-p20 {
  color: #FFFFFF;
}

.frame-18-p20 {
  width: 446px;
  height: 6px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.progress-step-p20 {
  width: 48.75px;
  height: 6px;
  border-radius: 100px;
}

.progress-step-p20.active-p20 {
  background: #31A961;
}

.progress-step-p20.inactive-p20 {
  background: rgba(255, 255, 255, 0.2);
}

.progress-step-p20.progress-current-p20 {
  background: #FFFFFF;
}

.frame-timer-p20 {
  width: 240px;
  height: 64px;
  border-radius: 24px;
  padding: 8px;
  gap: 8px;
  background: #FF6600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timer-icon-p20 {
  width: 24px;
  height: 24px;
}

.text-timer-p20 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}