/* src/pages/Page18.css */

.page-18 {
  background: linear-gradient(180deg, #31A961 0%, #144326 100%);
  width: 1280px;
  height: 720px;
  padding: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.vector-bg-p18 {
  position: absolute;
  /* width: 935.29px;
  height: 1455.54px; */
  width: 1300px; /* Увеличиваем ширину */
  height: 1810px; /* Увеличиваем высоту */
  opacity: 80%; 
  filter: drop-shadow(0px 4px 129.3px #FF8E42);
  z-index: 1;
  
  /* Центрируем */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}


/* Иконка happy-fill */
.happy-icon-p18 {
  width: 113px;
  height: 113px;
}

/* Текст благодарности */
.thank-you-text-p18 {
  width: 1043px;
  height: 75px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}