/* src/pages/Page23.css */

.page-23 {
  background: rgba(13, 13, 13, 0.8);
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: column;
}

.frame-38-p23 {
  width: 1280px;
  height: 41.65px;
  padding-top: 16px;
  gap: 8px;
}

.logo-p23 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Frame 65 - центрируем единственный элемент */
.frame-65-p23 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  width: 1280px;
  height: 550.35px;
  box-sizing: border-box;
}

/* Frame 63 - размеры как в скриншоте */
.frame-63-p23 {
  position: relative;
  width: 1232px; /* 1,232px из скриншота */
  height: 502.35px; /* 502.35px из скриншота */
  box-sizing: border-box;
}

/* Картинка */
.frame-63-image-p23 {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}



/* Нижняя панель */
.frame-1-p23 {
  width: 1280px;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
  box-sizing: border-box;
  align-items: center;
}

.frame-29-p23 {
  width: 240px;
  height: 64px;
  border-radius: 24px;
  padding: 24px;
  gap: 8px;
  background: rgba(13, 13, 13, 0.8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-approach-1-p23 {
  width: 107px;
  height: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
}


.frame-30-p23 {
  width: 240px;
  height: 64px;
  border-radius: 24px;
  padding: 8px;
  gap: 8px;
  background: #FF6600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timer-icon-p23 {
  width: 24px;
  height: 24px;
}

.text-timer-p23 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}